@import url('/general.css');
.primeraseccion, .terceraseccion{
    width: 100%;
}
.primeraseccion video{
    z-index: -1;
    position:absolute;
    width: 100%;
}
.recorte{
    position: absolute;
    z-index: 1;
    top: 43em;
    width: 100%;
    height: 15%;
}
.hero-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.infohero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.herotext{
    margin-top: 6em;
    padding-left: 8em;
}
.infohero div img{
    display: flex;
    top: 186px;
    height: 43px;
    margin-top: 6em;
}
.contact .acontacto{
    margin-top:1em
}
.hero-grid div h1{
    top: 500px;
    left: 260px;
    width: 617px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 800 60px/80px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.herotext p{
    top: 573px;
    left: 260px;
    width: 544px;
    height: 76px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 23px/35px Kanit;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 7em;
}
.contact img{
    width: 2em;
    height: 100%;
    margin-top: 1em;
}



.mouse .m1{
    position: absolute;
    width: 1em;
    height:auto;
    top: 35em;
    left: 49.48%;
}
.mouse .m3{
    width: 5em;
    height: auto;
    margin-top:12em
}


.contact img:first-child{
    margin-top: 9em;
}
.evolucion{
    position: absolute;
    top: 39.5em;
    z-index: 3;
    left: 2em;
    opacity: .9;
}
.evolucion img{
    width: 42em;
    height: auto;
    justify-content: flex-end;
    align-items:flex-start;
    margin-left: 2em;
}

/* Segunda sección */
.segundaseccion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15em;
    margin-bottom: 15em
}
.digitalwork p{
    top: 70px;
    left: 32px;
    width: 756px;
    height: 38px;
    text-align: center;
    font: normal normal normal 25px/35px Kanit;
    letter-spacing: 0px;
    color: #646363;
}

.segundaseccion div b{
    top: 280px;
    left: 140px;
    width: 588px;
    height: 38px;
    text-align: center;
    font: normal normal medium 25px/35px Kanit;
    letter-spacing: 0px;
    color: #646363;
}

.funciona{
    margin-top: 28em
}

.funciona p{
    font: normal normal 800 60px/80px Montserrat;
    letter-spacing: 0px;
    color: #646363;
    opacity: 1;
}
.gridinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 60%;
    margin-top: 4em;
}
.robot{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.robot img{
    width: 10em;
    position:absolute;
}
.robot .monitor{
    top:109.9em;
    width:6em;
    z-index:-1
}
.pc{
    top: 108.5em;
    left: 23.8em;
}

.gridfuncion{
    display: block;
}
.gridfuncion div{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.gridfuncion h5{
    text-align: left;
    font: normal normal 300 28px/34px Kanit;
    letter-spacing: 0px;
    color: #6C6B6B;
    opacity: 1;
}

/* Tercera seccion */
.container3{
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    margin: 12em 0em 0 120px;
    padding-right: 1em;
}
.container3 div{
    display: flex;
}
.container3 div:first-child{
    margin-bottom: 1em;
    justify-content: space-between;
}
.container3 div h3{
    width: 380px;
    height: 159px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 25px/55px Montserrat;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    opacity: 1;
}
.terceraseccion .fondorojo{
    width:100%;
    height: 120%;
    position: absolute;
    z-index: 1;
}
.innovacion{
    position: absolute;
    z-index: -1;
    margin-left: 5em;
    width: 30em;
    margin-top:.8em
}
.rpa{
    position: absolute;
    right: 1em;
    bottom: -150em;
}

.imgsuperior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
    margin-right: 2em;
}
.imgsuperior:last-child img{
    height: fit-content;
    
}

.imginferior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4em;
}

/* Cuarta sección */
.cuartaseccion{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 75em
}
.cuartaseccion .container{
    display: block;
}
.cuartah3{
    display: flex;
    justify-content:center;
}
.cuartaseccion h3{
    width: 668px;
    height: 181px;
    text-align: center;
    letter-spacing: 0px;
    color: #646363;
    margin-bottom: 1em;
}
.slide{
    display:grid;
    margin-left:0;
    margin-right: 0;
    justify-content: center;
}
.img-area img{
    width:20em
}
.img-area .sabermas{
    position: absolute;
    z-index: 3;
    top: 9.5em;
    left: 6em;
    width: 10em;
}
.carousel-indicators li{
    width: 13px;
    height: 13px;
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 50%
}
.carousel-indicators{
    top: 15em
}

/* Quinta seccion */
.quintaseccion{
    margin-top: 25em;
    display: flex;
    height: 423px;
    background: transparent linear-gradient(102deg, #434242 0%, #171717 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}

.formcontact{
    position:absolute;
    z-index: 1;
    bottom:-230em;
    right: 15em;
    width: 446px;
    height: 480px;
    background: transparent linear-gradient(145deg, var(--unnamed-color-ffffff) 0%, #F7F8FC 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(145deg, #FFFFFF 0%, #F7F8FC 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 2em
}
.formcontact h3{
    color: var(---e41d1d);
    text-align: left;
    font: normal normal bold 32px/80px Montserrat;
    letter-spacing: 0px;
    color: #E41D1D;
}
.formcontact div{
    display:flex;
    flex-direction: column;
}
.formcontact div label{
    text-align: left;
    font: normal normal normal 18px/40px Kanit;
    letter-spacing: 0px;
    color: #656565;
}
.formcontact div input{
    border: 1px solid #CCCCCC;
    border-radius: 8px;
}
.formcontact div .enviar{
    margin: 1em 0;
    color: var(--unnamed-color-ffffff);
    text-align: center;
    font: normal normal bold 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #C41A1A 0% 0% no-repeat padding-box;
    border-radius: 35px;
    width: 142px;
    height: 42px;
}
.formcontact div:last-child{
    display: flex;
    margin-top: 2em;
    align-items: center;
}

.footer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding:5em 10em 2em;
    width:100%
}
.footer h6{
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 300 24px/20px Kanit;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.footer .logoblanco{
    margin-bottom: 1em;
}
.footer .envolve{
    margin-bottom: 2em;
}
.footer .redes img{
    width: 2em;
    margin-right: 2em;
}
.footer .linea{
    height: 1em;
    border-bottom: 1px solid #ffff;
    width:100%;
    margin-bottom: 2em
}
span{
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 300 18px/20px Kanit;
    letter-spacing: 0px;
    color: #FFFFFF;
}
