@import url('/general.css');
.primeraseccion, .terceraseccion{
    width: 100%;
}
.primeraseccion video{
    z-index: -1;
    position:absolute;
    width: 100%;
}
.recorte{
    position: absolute;
    z-index: 1;
    top: 43em;
    width: 100%;
    height: 15%;
}
.hero-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.infohero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.herotext{
    margin-top: 6em;
    padding-left: 8em;
}
.infohero div img{
    display: flex;
    top: 186px;
    height: 43px;
    margin-top: 6em;
}
.hero-grid div h1{
    top: 500px;
    left: 260px;
    width: 617px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 800 60px/80px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.herotext p{
    top: 573px;
    left: 260px;
    width: 544px;
    height: 76px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 23px/35px Kanit;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 7em;
}
.contact img{
    width: 2em;
    height: auto;
    margin-top: 1em;
}
.contact img:first-child{
    margin-top: 9em;
}
.evolucion{
    position: absolute;
    top: 38.5em;
    z-index: 3;
    left: 2em;
}
.evolucion img{
    width: 42em;
    height: auto;
    justify-content: flex-end;
    align-items:flex-start;
    margin-left: 2em;
}

/* Segunda sección */
.segundaseccion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30em;
    margin-bottom: 15em
}
.digitalwork p{
    top: 70px;
    left: 32px;
    width: 756px;
    height: 38px;
    text-align: center;
    font: normal normal normal 25px/35px Kanit;
    letter-spacing: 0px;
    color: #646363;
}

.segundaseccion div b{
    top: 280px;
    left: 140px;
    width: 588px;
    height: 38px;
    text-align: center;
    font: normal normal medium 25px/35px Kanit;
    letter-spacing: 0px;
    color: #646363;
}

.funciona{
    margin-top: 28em
}

.funciona p{
    font: normal normal 800 60px/80px Montserrat;
    letter-spacing: 0px;
    color: #646363;
    opacity: 1;
}
.gridinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 60%;
    margin-top: 4em;
}
.robot{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.robot img{
    width: 10em;
    position:absolute;
}
.robot .monitor{
    top:105em;
    width:6em;
    z-index:-1
}
.pc{
    top: 103.5em;
    left: 23.8em;
}

.gridfuncion{
    display: block;
}
.gridfuncion div{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.gridfuncion p{
    text-align: left;
    font: normal normal 300 28px/44px Kanit;
    letter-spacing: 0px;
    color: #6C6B6B;
    opacity: 1;
}

/* Tercera seccion */
.container3{
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    margin: 13em 0em 0 100px;
}
.container3 div{
    display: flex;
}
.container3 div:first-child{
    margin-bottom: 1em;
    justify-content: space-between;
}
.container3 div h3{
    width: 580px;
    height: 159px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 35px/55px Montserrat;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    opacity: 1;
}
.terceraseccion .fondorojo{
    width:100%;
    height: 110%;
    position: absolute;
    z-index: 1;
}
.innovacion{
    position: absolute;
    z-index: -1;
    margin-left: 5em;
    width: 30em;
    margin-top:.8em
}
.imgsuperior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8em;
    margin-right: 2em;
}
.imgsuperior:last-child img{
    height: fit-content;
    
}
/* .container3 div img{
    width: 6em;
    height: auto;
} */
.imginferior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5em;
}

/* Cuarta sección */
.cuartaseccion{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 80em
}
.cuartaseccion .container{
    display: block;
}
.cuartah3{
    display: flex;
    justify-content:center;
}
.cuartaseccion h3{
    width: 668px;
    height: 181px;
    text-align: center;
    letter-spacing: 0px;
    color: #646363;
    margin-bottom: 10em;
}
.slide{
    display:grid;
    margin-left:0;
    margin-right: 0;
    justify-content: center;
}
