*{
    box-sizing: border-box;
    margin: 0 auto;
    list-style: none;
     
}

.primeraseccion{
    width: 100%
}

.recorte{
    position: absolute;
    top: 31em;
    opacity: .4;
    width: 100%;
}